.naslov{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: rgb(50, 129, 194);
    background-color: rgb(29, 26, 26);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.meni{
    background-color: whitesmoke;
    text-align: center;
    word-spacing: 20vw;
    padding: 10px;
} 

html{
    background-color: rgb(31, 142, 194);
}

a{
    font-size: 105%;
    color: rgb(17, 172, 25);
}

.info{
    display: flex;
    gap: 450px;
}